*{margin: 0; padding: 0;}
body {
	max-width: 1080px;
	margin: auto;
	background: #000000; 
    font-family: 'Lato', helvetica, arial, sans-serif; 
    font-size: 16px; 
    color: rgb(228, 228, 228);
}
h1 {
	text-align: center;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(212, 212, 212, 0.1);
}
.nav_item {
    float: left;
}
.nav_login {
    float: right;
}
.nav_link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.2s;
}
.nav_link:hover {
	color: #F4F4F4;
    background-color: #111;
}
.roomInfo {
	display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(212, 212, 212, 0.05);
    padding: 8px 16px;
    height: 16px;
}
.emojiDiv {
	min-height: 100px;
}
.emojiTitle {
	text-align: center;
}
#currentEmojiGroup {
	position: relative;
  	margin-top:-4px;
  	margin-bottom:-4px;
	text-align: center;
	font-size: 48px;
}
.messageInput {
	width: 100%;
	box-sizing:border-box;
	border: solid 1px rgba(212, 212, 212, 0.1);
}
.emojiTable {
	width: 100%;
}
.emojiControls {
	display: table-cell;
	text-align: center;
	width: 30%;
}
.emojiButtons {
	display: table-cell;
	text-align: center;
	width: 20%;
}
.emoji {
	height: 2.5em;
	width: 2.5em;
	text-align: center;
	font-size: 16px;
}
#currentEmojis {
	font-size: 32px;
}
#emojiBtn {
	width: 100%;
}

.container {
	width: 1080px;
    margin: 0 auto;
}
.row { 
    display: flex; 
}
.flex-1 { 
    flex: 1; 
}
.flex-3 { 
    flex: 3;
}
#messages, #guesses {
	height: 200px;
	overflow-x: hidden;
    overflow-y: auto;
	display: block;
	box-sizing:border-box;
	width: 100%;
	border: solid 1px rgba(212, 212, 212, 0.1);
	padding: 12px;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}
#messages::-webkit-scrollbar { width: 0 !important }
#guesses::-webkit-scrollbar { width: 0 !important }
.playersTitle {
	text-align: center;
	background-color: rgba(212, 212, 212, 0.05);
	padding: 23px;
}
.playerCard {
	box-shadow: 0 4px 6px 0 rgba(212, 212, 212,0.2);
	border-radius: 2px;
	border-radius: 8px;
	padding: 8px;
	margin: 6px;
}
hr {
	margin-top: 8px;
	margin-bottom: 8px;
}
.smallHr {
	height:1px;
	border-width:0;
	color:white;
	background-color:white;
	margin-top: 0px;
	margin-bottom: 8px;
}