*{margin: 0; padding: 0;}
body {
	max-width: 1080px;
	margin: auto;
	background: #000000; 
    font-family: 'Lato', helvetica, arial, sans-serif; 
    font-size: 16px; 
    color: rgb(228, 228, 228);
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(212, 212, 212, 0.1);
}
h1 {
	text-align: center;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(212, 212, 212, 0.1);
}
.nav_item {
    float: left;
}
.nav_login {
    float: right;
}
.nav_link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.2s;
}
.nav_link:hover {
	color: #F4F4F4;
    background-color: #111;
}
.welcomeBlock {
	height: 100px;
}
.gameOptions {
	display: flex;
    justify-content: space-evenly;
    align-items: center;
	margin-top: 5%;
	margin-bottom: 5%;
}
.gameCard {
	width: 25%;
	height: 300px;
	border-radius: 8px;
	border: 1px solid rgba(255, 255, 255, .5);
	color: white;
	background-color: rgba(255, 255, 255, .25);
	transition: 0.2s;
	font-family: monospace;
}
.gameCard:hover {
	cursor:pointer;
	color: #007fff;
	font-weight: bold;
	font-stretch: expanded;
	border: 1px solid rgba(0, 127, 255, 1);
    background-color: rgba(255, 255, 255, 1);
    transition: background-color .25s, color .25s;
}
.gameTitle {
	font-size: 24px;
	text-align: center;
	padding: 32px 16px;
}
.gameSymbol {
	font-size: 64px;
	text-align: center;
	padding: 16px;
}
.gameStart {
	font-size: 32px;
	text-align: center;
	padding: 16px;
}
.joinRoomBtn {
	font-size: 24px;
	text-align: center;
	width: 100%;
	padding: 8px;
	border-radius: 8px;
	border: 1px solid rgba(255, 255, 255, .5);
	color: white;
	background-color: rgba(255, 255, 255, .25);
	transition: 0.2s;
	font-family: monospace;
	margin-top: 5%;
	margin-bottom: 5%;
}
.joinRoomBtn:hover {
	cursor:pointer;
    color: #007fff;
	font-weight: bold;
	font-stretch: expanded;
	border: 1px solid rgba(0, 127, 255, 1);
    background-color: rgba(255, 255, 255, 1);
    transition: background-color .25s, color .25s;
}
.roomInfo {
	display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(212, 212, 212, 0.05);
    padding: 8px 16px;
    height: 16px;
}
.emojiDiv {
	min-height: 100px;
}
#emojiTitle {
	text-align: center;
	padding: 8px 16px;
    height: 16px;
    color: lime;
}
#currentEmojiGroup {
	position: relative;
  	margin-top:-4px;
  	margin-bottom:-4px;
	text-align: center;
	font-size: 48px;
}
.hostInput {
	width: 728px;
	box-sizing:border-box;
	border: solid 1px rgba(212, 212, 212, 0.1);
}
.multiplierBtn {
	width: 76px;
}
.messageInput {
	width: 100%;
	padding-left: 8px;
	box-sizing:border-box;
	border: solid 1px rgba(212, 212, 212, 0.1);
}
.guessInput {
	margin: auto;
	display: block;
	width: 99%;
	border-radius: 4px;
	font-size: 24px;
	padding: 8px;
	box-sizing:border-box;
	border: solid 1px rgba(212, 212, 212, 0.1);
}
.emojiControls {
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.emojiControls span {
	margin: auto;
	display: block;
	width: 25%;
}
.emojiControls select {
	margin: auto;
	display: block;
	width: 90%;
}
.emojiControls button {
	margin: auto;
	display: block;
	width: 90%;
}
.emoji {
	height: 2.5em;
	width: 2.5em;
	text-align: center;
	font-size: 16px;
}
#currentEmojis {
	font-size: 32px;
	height: 45px;
}
#emojiBtn {
	width: 100%;
}
.container {
	width: 1080px;
    margin: 0 auto;
}
.row { 
    display: flex; 
}
.flex-1 { 
    flex: 1; 
}
.flex-3 { 
    flex: 3;
    overflow-y: auto;
}
.flex-3-help { 
    flex: 3;
    overflow-y: auto;
    height: 800px;
    overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}
.flex-3-help::-webkit-scrollbar { width: 0 !important }
#messages, #guesses, #emojiGroup, #countries {
	height: 175px;
	overflow-x: hidden;
    overflow-y: auto;
	display: block;
	box-sizing:border-box;
	width: 100%;
	border: solid 1px rgba(212, 212, 212, 0.1);
	padding: 12px;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}
#messages::-webkit-scrollbar { width: 0 !important }
#guesses::-webkit-scrollbar { width: 0 !important }
#emojiGroup::-webkit-scrollbar { width: 0 !important }
#countries::-webkit-scrollbar { width: 0 !important }
.flag {
	width: 100px;
	border: solid 2px rgba(212, 212, 212, 0.5);
}
.countryBtnContainer {
	height: 100px;
}
.flagGuessBtn {
	text-align: center;
	width: 50%;
	padding: 8px;
	font-size: 1.1rem;
	border-radius: 6px;
	border: 1px solid rgb(8, 97, 201);
	color: white;
	background-color: rgba(8, 97, 201, .2);
	transition: 0.2s;
}
.flagGuessBtn:hover {
	cursor:pointer;
    background-color: rgba(8, 97, 201, .1);
}
.flagBtn {
	width: 256px;
	margin: 2px;
}
.currentFlag {
	color: #b2d9ff;
	padding-bottom: 8px;
}
.messagesTitle {
	text-align: center;
	padding: 16px;
	color: rgba(212, 212, 212, 0.8);
}
.playersTitle {
	text-align: center;
	background-color: rgba(212, 212, 212, 0.05);
	padding: 23px;
}
.playerCard {
	box-shadow: 0 4px 6px 0 rgba(212, 212, 212,0.2);
	border-radius: 2px;
	border-radius: 8px;
	padding: 8px;
	margin: 6px;
}
.playerCard:hover {
	color: #F4F4F4;
    background-color: #111;
}
hr {
	margin-top: 8px;
	margin-bottom: 8px;
}
.smallHr {
	height:1px;
	border-width:0;
	color:white;
	background-color:white;
	margin-top: 0px;
	margin-bottom: 8px;
}
.helpBlock {
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 16px;
	padding-bottom: 16px;
}
.helpItem {
	padding-top: 32px;
	padding-bottom: 32px;
}
.helpHeader {
	padding-bottom: 16px;
}
.helpText {
	padding: 4px;
}
.helpLinkContainer {
	padding: 4px;
}
.helpLink {
	color: #0080ff;
	text-decoration: none;
}
.helpLink:hover {
	color: #D6F5F3;
    text-decoration: underline;
}
.backLink {
	text-align: center;
	font-size: 0.8em;
}
.login-block {
	padding: 24px;
	width: 50%;
	margin: auto;
}
.login-block div {	
	width: 100%;
}
.login-block label {
	font-size: 1.1rem;
}
.login-block input {
	margin-top: 8px;
	border-radius: 6px;
	border: 1px solid white;
	background: rgba(212, 212, 212, 0.1); 
    font-family: 'Lato', helvetica, arial, sans-serif; 
    font-size: 16px; 
    color: rgb(228, 228, 228);
    width: 100%;
	padding: 8px;
	box-sizing:border-box;
	margin-bottom: 8px;
}
.login-block select {
	margin-top: 8px;
	border-radius: 6px;
	border: 1px solid white;
	background: rgba(212, 212, 212, 0.1); 
    font-family: 'Lato', helvetica, arial, sans-serif; 
    font-size: 16px; 
    color: rgb(228, 228, 228);
    width: 100%;
	padding: 8px;
	box-sizing:border-box;
	margin-bottom: 8px;
}
.login-block option {
	background: black;
}
.login-block #privateRoom1 {
	width: 10%;
	margin: 16px;
}
.login-block .btn {
	text-align: center;
	width: 100%;
	padding: 8px;
	font-size: 1.1rem;
	border-radius: 6px;
	border: 1px solid rgb(8, 97, 201);
	color: white;
	background-color: rgba(8, 97, 201, .2);
	transition: 0.2s;
	margin-bottom: 32px;
}
.login-block .btn:hover {
	cursor:pointer;
    background-color: rgba(8, 97, 201, .1);
}
.login-block .red-btn:hover {
	cursor:pointer;
    background-color: rgba(200, 0, 0, .1);
}
.text-danger {
	color: red;
}
.center-text {
	text-align: center;
}
.center-text-title {
	text-align: center;
	margin: 24px;
}
.danger-link {
    display: block;
    box-sizing:border-box;
    padding: 8px;
    text-decoration: none;
    text-align: center;
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 1.1rem;
	border-radius: 8px;
	border: 1px solid rgba(200, 0, 0, .2);
	color: white;
	background-color: rgba(200, 0, 0, .2);
	transition: 0.2s;
}
.danger-link:hover {
	color: #F4F4F4;
    background-color: rgba(200, 0, 0, .1);
}
@media all and (max-width: 480px){
    body {
		max-width: 480px;
	    font-size: 12px; 
	}
	.welcomeBlock {
		height: 48px;
	}
	.gameOptions {
		flex-direction: column;
	}
	.gameCard {
		width: 80%;
		height: 100px;
		margin: 12px;
	}
	.gameTitle {
		font-size: 14px;
		padding: 8px 4px;
	}
	.gameSymbol {
		font-size: 24px;
		padding: 4px;
	}
	.gameStart {
		font-size: 14px;
		padding: 4px;
	}
	.joinRoomBtn {
		font-size: 16px;
		width: 80%;
		padding: 4px;
		margin: 10%;
	}
}